.advantages {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item-container {
  padding: 37px 18px;
  background-color: @main-color;
  color: @text-contrast;
}

.advantages__title {
  margin: 0 0 49px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.advantages__text {
  margin-bottom: 0;
  text-align: center;
}

.advantages__sublist {
  margin: 0;
  padding: 23px 18px 46px;
  list-style: none;
  background-color: #ffffff;
}

.advantages__subitem {
  color: @text-main;

  &:not(:last-child) {
    padding-bottom: 25px;
  }
}

.advantages__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__subtext {
  margin: 16px 0 0;
}

.advantages__item--secondary {
  padding: 24px 18px;
  background-color: @card-secondary;

  &:last-child {
    padding-bottom: 28px;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    margin-bottom: 60px;
  }
}
