.advantages {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0 18px;
  list-style: none;
  background-color: @card-secondary;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.advantages__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 18px;
  min-height: 191px;

  @media (min-width: @tablet-width) {
    padding: 52px 33px 31px;
    width: 33.33%;
    min-height: 256px;

    &--reverse {
      order: 2;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 31px 83px;
  }
}

.advantages__item--wide:first-child {
  .advantages__item-container {
    min-height: 215px;
    padding: 33px 18px 15px;

    @media (min-width: @tablet-width) {
      padding: 52px 18px 31px;
    }

    @media (min-width: @desktop-width) {
      padding: 29px 55px 31px;
    }
  }
}

.advantages__item--wide {
  margin: 0 -18px;
  background-color: @main-color;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    min-height: 256px;
  }

  .advantages__title--wide,
  .advantages__text--wide,
  .advantages__number--wide {
    color: @text-contrast;
  }
}

.advantages__item--secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 14px;

  &:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
  }

  &:last-child {
    padding-bottom: 28px;
  }

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    padding: 41px 40px;

    &:last-child {
      padding: 41px 40px;
      min-height: 256px;
    }

    &:not(:last-child) {
      border: none;
    }

    br {
      display: none;
    }

    .advantages__title {
      margin: 0 auto 13px;
    }

    .advantages__number {
      margin: 0 auto 22px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 52px 50px;

    &:last-child {
      padding: 52px 50px;
      min-height: 256px;
    }
  }
}

.advantages__image-container {
  @media (min-width: @tablet-width) {
    width: 66.66%;
  }
}

.advantages__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advantages__title {
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;

    br {
      display: block;
    }
  }
}

.advantages__number {
  display: block;
  margin: 0 0 16px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0 0 22px;
  }
}

.advantages__text {
  margin: 0;
  max-width: 300px;
  text-align: center;
  color: @text-secondary;
}

.advantages__sublist {
  margin: 0;
  padding: 32px 18px 45px;
  list-style: none;
  background-color: @main-bcg;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.advantages__subitem {
  position: relative;
  padding-left: 47px;
  color: @text-main;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: -7px;

    background-image: url("../img/sprite.svg#lodge-icon");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--food::before {
    background-image: url("../img/sprite.svg#food-icon");
  }

  &--souvenir::before {
    background-image: url("../img/sprite.svg#souvenir-icon");
  }

  &:not(:last-child) {
    padding-bottom: 33px;
  }

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 156px 33px 60px;
    width: 33.33%;
    min-height: 330px;

    text-align: center;

    &:not(:last-child) {
      padding-bottom: 60px;
    }

    &::before {
      width: 80px;
      height: 72.5px;
      left: 50%;
      transform: translateX(-50%);
      top: 56px;
    }

    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 156px 47px 60px;

    &::before {
      width: 80px;
      height: 72.5px;
      top: 70px;
    }

    &--food::before {
      width: 73.5px;
      height: 75px;
    }

    &--souvenir::before {
      width: 96.5px;
      height: 76.5px;
    }
  }
}

.advantages__subtitle {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin: 0 0 24px;
    font-size: 21px;
  }
}

.advantages__subtext {
  margin: 0;
  color: @text-secondary;
}
