.advantages {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }
}


.advantages__item-container {
  padding: 37px 18px;
  background-color: @main-color;
  color: @text-contrast;
}

.advantages__title {
  margin: 0 0 49px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages__text {
  margin-bottom: 0;
  text-align: center;
}

.advantages__sublist {
  margin: 0;
  padding: 23px 18px 46px;
  list-style: none;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.advantages__subitem {
  color: @text-main;

  &:not(:last-child) {
    padding-bottom: 25px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 33px;

    text-align: center;

    &:not(:last-child) {
      padding-bottom: 60px; /*из-за каскада переопределяем отдельно padding-bottom: 25px;*/
    }
  }
}

.advantages__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages__subtext {
  margin: 16px 0 0;
}

.advantages__item--secondary {
  padding: 24px 18px;
  background-color: @card-secondary;

  &:last-child {
    padding-bottom: 28px;
  }
}

/* МЕДИА СЕТКА ФОРМЫ */
@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
  }

  .advantages__item-container {
    padding: 52px 33px 31px;
  }

  .advantages__item--wide {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advantages__item--secondary {
    padding: 41px 33px;
  }

  .advantages__item-container--reverse {
    order: 2;
  }

  .advantages__sublist {
    grid-column: 1/-1;
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item-container {
    padding: 52px 50px;
  }

  .advantages__item--secondary {
    padding: 52px 50px;
  }
}
