.copyright {
  display: flex;
  align-items: center;
  max-width: 150px;

  text-decoration: none;
  color: @text-main;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin: 0 12px 0 0;
}
