.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 62px;
  }
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 26px;
  border-bottom: 1px solid #e5e5e5;

  &:first-child {
    border-top: 1px solid #e5e5e5;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;

    &:first-child {
      grid-column: 1/-1;
      border: none;
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.gallery__photo-link {
  display: flex;
  flex-grow: 1;
  margin: 0 0 15px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.gallery__photo-container {
  display: flex;
  flex-grow: 1;
}

.gallery__photo {
  display: block;
  flex-grow: 1;
  width: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    &:not(:first-child) {
      min-height: 267px;
    }
  }
}


.gallery__photo-info {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;

    background-color: @gallery__photo;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;

    background-color: fade(#000000, 30%);

    &:not(:first-child) {
      padding: 17px 25px;
    }
  }
}

.gallery__info-text {
  margin: 0 0 16px;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.gallery__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    margin: 0 0 1px;
  }
}

.gallery__text {
  margin: 0;
  font-size: 14px;
  text-transform: none;
  color: @text-secondary;
}

.gallery__like {
  position: relative;
  padding: 0 0 0 37px;
  font-weight: 700;

  &::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 21px;
    left: 0;
    bottom: 0;

    mask-image: url("../img/sprite.svg#like-icon");
    background-color: fade(@text-main, 30%);

    @media (min-width: @tablet-width) {
      left: 4px;
      bottom: 4px;
    }

    @media (min-width: @desktop-width) {
      background-color: @text-contrast;
    }
  }
}

.gallery__title,
.gallery__text,
.gallery__like {
  @media (min-width: @desktop-width) {
    color: @text-contrast;
  }
}
