.hotel-search {
  display: flex;
  padding: 0 20px;
  margin-bottom: 49px;
}

.hotel-search__container {
  margin: auto;
  text-align: center;
}

.hotel-search__title {
  margin-top: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search__text {
  margin: 19px 0 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search__link {
  padding: 16px;
  margin: auto;
}
