.intro {
  display: flex;
  flex-direction: column;
}

.intro__container {
  margin: auto;
  text-align: center;

  &--inner {
    margin-bottom: 25px;
  }
}

.intro__image-container {
  display: flex;
  width: 100%;
  padding: 90px 19px 85px;
  margin-bottom: 32px;

  background-color: @main-hover;
  background-image: url("../../img/main-bcg.jpg");
  background-position: 49% 30%;
  background-size: cover;

  &--inner {
    padding: 52px 45px 67px;
    margin-bottom: 36px;
    background-position: 30% 100%;
  }
}

.intro__image {
  margin: auto;
}

.intro__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.intro__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
