.page-header {
  width: 100%;
  min-height: 56px;
  padding: 0;
}

.page-header__nav {
  display: flex;
  flex-direction: column;
  min-height: 56px;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.page-header__toggle {
  position: relative;
  z-index: 3;
  margin-left: calc(100% - 63px);
  margin-top: 17px;
  align-self: center;

  width: 23px;
  height: 4px;
  background-color: @main-color;

  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 4px;
    left: 0;
    top: 18px;

    background-color: @main-color;
  }

  &::before {
    top: 9px;
  }
}

.page-header__toggle--opened {
  position: absolute;
  width: 28px;
  height: 4px;
  right: 17px;
  top: 9px;

  background-color: @main-bcg;
  transform: rotate(45deg);

  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    left: 0;
    top: 0;

    background-color: @main-bcg;
    transform: rotate(-90deg);
  }

  &::before {
    content: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    z-index: 4;
  }

  .page-header__toggle {
    display: none;
  }
}
