.social {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 6px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__item {
  background-color: @main-color;
  min-width: 48px;
  min-height: 48px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
