.video {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 33px;
  text-align: center;
}

.video__container {
  margin: auto;
}

.video__title {
  font-weight: 700;
  margin-bottom: 38px;
}

@media (min-width: @tablet-width) {
  .video-container {
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .video-container {
    margin-bottom: 84px;
  }
}
