.video {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
}

.video__container {
  min-height: 116px;
  margin: auto;
}

.video__title {
  font-weight: 700;
}

.video__text {
  margin: 38px 0;
}
