.video {
  padding: 0 20px;
  margin-bottom: 33px;
  text-align: center;
}

.video__title {
  font-weight: 700;
  margin: 0 0 38px;
  font-size: 18px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.video__text {
  margin: 0 0 38px;

  @media (min-width: @tablet-width) {
    margin: 0 0 93px;
  }
}

.video__image {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .video {
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    margin-bottom: 84px;
  }
}
