/*Переменные*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
/*Общая стилизация*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  object-fit: cover;
}
.button {
  display: block;
  max-width: 458px;
  /*width: 100%;*/
  border: none;
  background-color: #81b3d2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled,
.button--disabled {
  background-color: #e5e5e5;
}
.page {
  min-height: 100%;
  background-color: #e7e5e5;
}
.page__body {
  margin: 0;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .page__body {
    margin: 0 auto;
    max-width: 1280px;
  }
}
/*Блоки*/
.page-header {
  width: 100%;
}
.site-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
}
.site-nav__item {
  padding: 17px 6px 12px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
}
.site-nav__item:last-child {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.site-nav__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.intro {
  text-align: center;
}
.intro__image-container {
  display: flex;
  width: 100%;
  padding: 90px 19px 85px;
  margin-bottom: 32px;
  background-color: #669ec0;
  background-image: url("../../img/main-bcg.jpg");
  background-position: 49% 30%;
  background-size: cover;
}
.intro__image-container--inner {
  padding: 52px 45px 67px;
  margin-bottom: 36px;
  background-position: 30% 100%;
}
.intro__image {
  margin: auto;
}
.intro__container--index {
  margin: 32px auto;
}
@media (min-width: 768px) {
  .intro__container--index {
    margin: 47.5px auto 55.5px;
  }
}
@media (min-width: 1200px) {
  .intro__container--index {
    margin: 59px auto 44px;
  }
}
.intro__container--catalog {
  margin: 37px auto 42px;
}
@media (min-width: 768px) {
  .intro__container--catalog {
    margin: 66px auto 86px;
  }
}
@media (min-width: 1200px) {
  .intro__container--catalog {
    margin: 100px auto 94px;
  }
}
.intro__container--form {
  margin: 36px auto 28px;
}
@media (min-width: 768px) {
  .intro__container--form {
    margin: 64px auto 108px;
  }
}
@media (min-width: 1200px) {
  .intro__container--form {
    margin: 115px auto 68px;
  }
}
.intro__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.intro__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.advantages {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item-container {
  padding: 37px 18px;
  background-color: #81b3d2;
  color: #ffffff;
}
.advantages__title {
  margin: 0 0 49px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.advantages__text {
  margin-bottom: 0;
  text-align: center;
}
.advantages__sublist {
  margin: 0;
  padding: 23px 18px 46px;
  list-style: none;
  background-color: #ffffff;
}
.advantages__subitem {
  color: #000000;
}
.advantages__subitem:not(:last-child) {
  padding-bottom: 25px;
}
.advantages__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.advantages__subtext {
  margin: 16px 0 0;
}
.advantages__item--secondary {
  padding: 24px 18px;
  background-color: #eeeeee;
}
.advantages__item--secondary:last-child {
  padding-bottom: 28px;
}
@media (min-width: 768px) {
  .advantages {
    margin-bottom: 60px;
  }
}
.hotel-search {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 49px;
}
.hotel-search__title {
  margin-top: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.hotel-search__text {
  margin: 19px 0 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.hotel-search__link {
  padding: 16px;
  margin: auto;
}
@media (min-width: 768px) {
  .hotel-search {
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .hotel-search {
    margin-bottom: 66px;
  }
}
.map-position {
  margin-bottom: 8px;
}
.map-position__image {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .map-position {
    margin-bottom: 0;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
}
.gallery__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.gallery__item {
  padding: 24px 20px 25px;
  border-bottom: 1px solid #e5e5e5;
}
.gallery__item:first-child {
  border-top: 1px solid #e5e5e5;
}
.gallery__photo {
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }
  .gallery__item {
    padding: 0;
    border: none;
  }
  .gallery__item:first-child {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .gallery__list {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
.gallery__title {
  font-weight: 700;
}
.gallery__text {
  margin: 10px 0;
  text-transform: none;
}
.gallery__like {
  font-weight: 700;
}
.video {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 33px;
  text-align: center;
}
.video__title {
  font-weight: 700;
  margin-bottom: 38px;
}
.video__text {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .video__text {
    margin-bottom: 93px;
  }
}
.video__content {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .video {
    padding: 0 60px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .video {
    padding: 0 200px;
    margin-bottom: 84px;
  }
}
.review-form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
@media (min-width: 768px) {
  .review-form {
    margin-bottom: 64px;
  }
}
.review-form__fieldset {
  padding: 0;
  margin: 24px 0;
  border: none;
}
.review-form__fieldset--introduce {
  margin-bottom: 39px;
}
.review-form__fieldset--contacts {
  margin-bottom: 34px;
}
.review-form__fieldset--comment {
  margin-bottom: 56px;
}
/* МЕДИА СЕТКА ФОРМЫ */
@media (min-width: 768px) {
  .review-form__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }
  .review-form__fieldset {
    grid-column: 1/-1;
  }
  .review-form__fieldset--introduce {
    grid-column: 1/2;
    margin: 0 70px 63px 0;
  }
  .review-form__fieldset--contacts {
    grid-column: 2/3;
    margin: 0;
  }
  .review-form__fieldset--feelings {
    margin-bottom: 48px;
  }
  .review-form__fieldset--attractions {
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .review-form__form {
    padding: 0 120px;
  }
  .review-form__fieldset {
    margin-bottom: 56px;
  }
  .review-form__fieldset--introduce {
    margin: 0 128px 71px 0;
  }
}
.review-form__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .review-form__title {
    margin-bottom: 28px;
  }
}
.review-form__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.review-form__item:not(:last-child) {
  margin-bottom: 16px;
}
.review-form__label {
  display: flex;
  flex-direction: column;
}
.review-form__naming {
  padding: 0 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.review-form__input {
  padding: 16px;
  border: none;
  font-weight: 700;
  background-color: #f2f2f2;
}
.review-form__input:placeholder-shown {
  color: rgba(0, 0, 0, 0.3);
}
.review-form__textarea {
  width: 100%;
  padding: 16px;
  margin-bottom: 56px;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
}
.review-form__textarea:placeholder-shown {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .review-form__textarea {
    margin-bottom: 48px;
  }
}
.review-form__button {
  padding: 16px;
}
.review-form__required-description {
  margin-left: auto;
  align-self: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
}
.modal-window {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: none;
  width: 320px;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}
.modal-window--open {
  display: flex;
}
.modal-window__content {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}
.modal-window__text {
  color: #333333;
}
.modal-window__button {
  padding: 18px 16px 13px;
  margin: auto;
  min-width: 180px;
}
.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 33px 10px;
}
.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 36px 60px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 36px 120px;
  }
}
.social {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social__item {
  background-color: #81b3d2;
  min-width: 48px;
  min-height: 48px;
}
.social__link {
  display: block;
  width: 48px;
  height: 48px;
}
.social__icon {
  padding: 12px;
}
.copyright {
  text-decoration: none;
  color: #000000;
}
.copyright__logo {
  /*Исправить после добавления svg кода*/
  width: 28px;
  height: 35px;
}
/*# sourceMappingURL=style.css.map */
