/*Переменные*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
/*Общая стилизация*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.button {
  display: block;
  max-width: 458px;
  /*width: 100%;*/
  border: none;
  background-color: #81b3d2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled,
.button--disabled {
  background-color: #e5e5e5;
}
.page {
  display: flex;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  background-color: #e7e5e5;
}
.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .page__body {
    max-width: 1200px;
  }
}
.page__main {
  flex-grow: 1;
  height: 100%;
}
/*Блоки*/
.page-header {
  width: 100%;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}
.site-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
}
.site-nav__item {
  padding: 17px 6px 12px;
  text-align: center;
}
.site-nav__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
/* МЕДИА СЕТКА НАВИГАЦИИ*/
@media (min-width: 768px) {
  .site-nav {
    flex-direction: row;
    background-color: #ffffff;
  }
  .site-nav__item {
    padding: 18px 27px 17px 28px;
  }
  .site-nav__link {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 1200px) {
  .site-nav__item {
    padding: 18px 68px 17px;
  }
}
.intro {
  text-align: center;
}
.intro--index {
  padding: 0 0 32px;
}
@media (min-width: 768px) {
  .intro--index {
    padding: 0 0 55.5px;
  }
}
@media (min-width: 1200px) {
  .intro--index {
    padding: 0 0 44px;
  }
}
.intro--catalog {
  padding: 0 0 42px;
}
@media (min-width: 768px) {
  .intro--catalog {
    padding: 0 0 86px;
  }
}
@media (min-width: 1200px) {
  .intro--catalog {
    padding: 0 0 94px;
  }
}
.intro--form {
  padding: 0 0 53px;
}
@media (min-width: 768px) {
  .intro--form {
    padding: 0 0 108px;
  }
}
@media (min-width: 1200px) {
  .intro--form {
    padding: 0 0 68px;
  }
}
.intro__image-container {
  display: flex;
  width: 100%;
  padding: 90px 19px 85px;
  margin-bottom: 32px;
  background-color: #669ec0;
  background-image: url("../img/main-bcg.jpg");
  background-position: 100% 100%;
  background-size: cover;
}
.intro__image-container--inner {
  padding: 52px 45px 67px;
  margin-bottom: 36px;
  background-position: 0 100%;
}
.intro__image-container--index {
  margin: 0 0 32px;
}
@media (min-width: 768px) {
  .intro__image-container--index {
    margin: 0 0 47.5px;
  }
}
@media (min-width: 1200px) {
  .intro__image-container--index {
    margin: 0 0 59px;
  }
}
.intro__image-container--catalog {
  margin: 0 0 37px;
}
@media (min-width: 768px) {
  .intro__image-container--catalog {
    margin: 0 0 66px;
  }
}
@media (min-width: 1200px) {
  .intro__image-container--catalog {
    margin: 0 0 100px;
  }
}
.intro__image-container--form {
  margin: 0 0 36px;
}
@media (min-width: 768px) {
  .intro__image-container--form {
    margin: 0 0 64px;
  }
}
@media (min-width: 1200px) {
  .intro__image-container--form {
    margin: 0 0 115px;
  }
}
.intro__image {
  margin: auto;
}
.intro__container {
  padding: 0 20px;
}
.intro__title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
@media (min-width: 768px) {
  .intro__title {
    font-size: 21px;
  }
}
.intro__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  display: inline-block;
}
.advantages {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .advantages {
    margin-bottom: 60px;
  }
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item-container {
  padding: 37px 18px;
  background-color: #81b3d2;
  color: #ffffff;
}
.advantages__title {
  margin: 0 0 49px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 21px;
  }
}
.advantages__text {
  margin: 0;
  text-align: center;
}
.advantages__sublist {
  margin: 0;
  padding: 23px 18px 46px;
  list-style: none;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__sublist {
    padding: 0;
  }
}
.advantages__subitem {
  color: #000000;
}
.advantages__subitem:not(:last-child) {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .advantages__subitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 33px;
    text-align: center;
  }
  .advantages__subitem:not(:last-child) {
    padding-bottom: 60px;
    /*из-за каскада переопределяем отдельно padding-bottom: 25px;*/
  }
}
.advantages__subtitle {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .advantages__subtitle {
    font-size: 21px;
  }
}
.advantages__subtext {
  margin: 0;
}
.advantages__item--secondary {
  padding: 24px 18px;
  background-color: #eeeeee;
}
.advantages__item--secondary:last-child {
  padding-bottom: 28px;
}
/* МЕДИА СЕТКА ФОРМЫ */
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .advantages__item-container {
    padding: 52px 33px 31px;
  }
  .advantages__item--wide {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 256px;
  }
  .advantages__image {
    grid-column: 2/4;
    width: 100%;
  }
  .advantages__image--reverse {
    grid-column: 1/3;
    width: 100%;
  }
  .advantages__item--secondary {
    padding: 41px 33px;
    min-height: 256px;
  }
  .advantages__item-container--reverse {
    grid-column: 3/4;
    order: 2;
  }
  .advantages__sublist {
    grid-column: 1/-1;
    display: flex;
  }
  .advantages__subitem {
    width: 33.33%;
    min-height: 330px;
  }
}
@media (min-width: 1200px) {
  .advantages__item-container {
    padding: 52px 50px;
  }
  .advantages__item--secondary {
    padding: 52px 50px;
  }
}
.hotel-search {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 49px;
}
.hotel-search__title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hotel-search__title {
    font-size: 21px;
  }
}
.hotel-search__text {
  margin: 0 0 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.hotel-search__link {
  padding: 16px;
  margin: auto;
}
@media (min-width: 768px) {
  .hotel-search {
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .hotel-search {
    margin-bottom: 66px;
  }
}
.map-position {
  margin-bottom: 8px;
}
.map-position__image {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .map-position {
    margin-bottom: 0;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
}
.gallery__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.gallery__item {
  padding: 24px 20px 25px;
  border-bottom: 1px solid #e5e5e5;
}
.gallery__item:first-child {
  border-top: 1px solid #e5e5e5;
}
.gallery__photo-link {
  display: block;
  margin: 0 0 15px;
}
.gallery__photo {
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }
  .gallery__item {
    padding: 0;
    border: none;
  }
  .gallery__item:first-child {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .gallery__list {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
.gallery__info-text {
  margin: 0 0 11px;
  font-size: 14px;
}
.gallery__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
}
.gallery__text {
  margin: 0;
  font-size: 14px;
  text-transform: none;
  color: #333333;
}
.gallery__like {
  font-weight: 700;
}
@media (min-width: 768px) {
  .gallery__photo-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }
  .gallery__photo-link {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .gallery__photo-info:not(:first-child) {
    padding: 17px 25px;
  }
}
.video {
  padding: 0 20px;
  margin-bottom: 33px;
  text-align: center;
}
.video__title {
  font-weight: 700;
  margin: 0 0 38px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 21px;
  }
}
.video__text {
  margin: 0 0 38px;
}
@media (min-width: 768px) {
  .video__text {
    margin: 0 0 93px;
  }
}
.video__image {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .video {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .video {
    margin-bottom: 84px;
  }
}
.review-form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
@media (min-width: 768px) {
  .review-form {
    padding: 0 60px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .review-form {
    padding: 0 120px;
  }
}
.review-form__fieldset {
  padding: 0;
  margin: 0 0 49px;
  border: none;
}
.review-form__fieldset--introduce {
  margin-bottom: 64px;
}
.review-form__fieldset--contacts {
  margin-bottom: 59px;
}
.review-form__fieldset--comment {
  margin-bottom: 56px;
}
@media (min-width: 768px) {
  .review-form__fieldset--feelings {
    margin-bottom: 48px;
  }
  .review-form__fieldset--attractions {
    margin-bottom: 42px;
  }
  .review-form__fieldset--comment {
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .review-form__fieldset {
    margin-bottom: 56px;
  }
  .review-form__fieldset--comment {
    margin-bottom: 48px;
  }
}
.review-form__title {
  padding: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .review-form__title {
    margin-bottom: 28px;
    font-size: 21px;
  }
}
.review-form__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.review-form__item:not(:last-child) {
  margin-bottom: 16px;
}
.review-form__label {
  display: flex;
  flex-direction: column;
}
.review-form__naming {
  padding: 0 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.review-form__input {
  padding: 16px;
  border: none;
  font-weight: 700;
  background-color: #f2f2f2;
}
.review-form__input:placeholder-shown {
  color: rgba(0, 0, 0, 0.3);
}
.review-form__textarea {
  width: 100%;
  padding: 16px;
  margin-bottom: 56px;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
}
.review-form__textarea:placeholder-shown {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .review-form__textarea {
    margin-bottom: 48px;
  }
}
.review-form__button {
  padding: 16px;
}
.review-form__required-description {
  margin-left: auto;
  align-self: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
}
/* МЕДИА СЕТКА ФОРМЫ */
@media (min-width: 768px) {
  .review-form__userinfo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 58px;
    margin-bottom: 63px;
  }
  .review-form__fieldset--introduce {
    grid-column: 1/2;
    margin: 0;
  }
  .review-form__fieldset--contacts {
    grid-column: 2/3;
    margin: 0;
  }
  .review-form__fieldset--feelings {
    margin-bottom: 48px;
  }
  .review-form__fieldset--attractions {
    margin-bottom: 42px;
  }
  .review-form__list--feelings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 36px;
  }
  .review-form__list--attractions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 84px;
  }
}
@media (min-width: 1200px) {
  .review-form__userinfo-container {
    gap: 100px;
    margin-bottom: 71px;
  }
  .review-form__list--feelings {
    padding: 0 53px;
  }
  .review-form__list--attractions {
    padding: 0 44.5px;
  }
}
.modal-window {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: none;
  width: 320px;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}
.modal-window--open {
  display: flex;
}
.modal-window__content {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}
.modal-window__text {
  color: #333333;
}
.modal-window__button {
  padding: 18px 16px 13px;
  margin: auto;
  min-width: 180px;
}
.page-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  padding: 33px 10px;
}
@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding: 36px 60px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 36px 120px;
  }
}
.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.social {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social__item {
  background-color: #81b3d2;
  min-width: 48px;
  min-height: 48px;
}
.social__link {
  display: block;
  width: 48px;
  height: 48px;
}
.social__icon {
  display: none;
  padding: 12px;
}
.copyright {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}
.copyright__logo {
  /*Исправить после добавления svg кода*/
  width: 28px;
  height: 35px;
}
/*# sourceMappingURL=style.css.map */
